<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<title>Management System</title>
</h:head>

<body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 200px;">
		<div class="container">
			<div class="navbar navbar-inverse">
				<h3>Edit Contact Person Information</h3>
			</div>
			<h:form id="MyForm">
				<h:message for="save1" style="color:blue;font-weight: bold;"
					globalOnly="true" />
				<table class="table table-bordered ">

					<tr>
						<td width="150" valign="top">Contact Id:</td>

						<td valign="bottom"><h:outputLabel id="contactId">#{customerController.contactinfor.contactId}</h:outputLabel>
						</td>
					</tr>
					<tr>
						<td width="100" valign="top">Contact Name:</td>
						<td valign="bottom"><h:inputText id="name"
								value="#{customerController.contactinfor.name}" required="true"
								validatorMessage="Only numbers, letters and whitespaces are accepted for name"
								requiredMessage="Please enter a Contact Name">
								<f:validateRegex pattern="^([a-zA-Z0-9]+(.)?)+$" />
								<!-- dot:Matches any character except linebreaks. ? Matches 0 or 1 of the preceding token, effectively making it optional.-->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="name" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Age:</td>
						<td valign="bottom"><h:inputText id="age"
								value="#{customerController.contactinfor.age}"
								converterMessage="Please enter a valid age">
								<o:validator validatorId="javax.faces.Required"
									message="Please enter a age" />
								<o:validator validatorId="javax.faces.LongRange" minimum="1"
									message="The Age must be greater than 0" />
								<!-- <f:validateLongRange minimum="1" /> -->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="age" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Contact Available Time:</td>
						<td valign="bottom"><h:inputText id="availableTime"
								value="#{customerController.contactinfor.availableTime}"
								required="true"
								requiredMessage="Please enter a contact available time"></h:inputText>
							<h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="availableTime"
								style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Gender:</td>
						<td valign="bottom"><h:inputText id="gender"
								value="#{customerController.contactinfor.gender}"
								required="true"
								validatorMessage="Please enter a valid gender(Only accept alphabet, no case sensitive)"
								requiredMessage="Please enter a gender">
								<f:validateRegex pattern="^([a-zA-Z]+)$" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="gender" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Phone Number:</td>
						<td valign="bottom"><h:inputText id="mobilePhone"
								value="#{customerController.contactinfor.mobilePhone}"
								required="true"
								converterMessage="Please enter a valid phone number"
								validatorMessage="Please enter a valid phone number(Only accept numbers)"
								requiredMessage="Please enter a phone number">
								<f:validateLongRange minimum="1" />
								<!-- f:validateRegex tag is used to validate a string value to a required format. -->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="mobilePhone" style="color:red;font-weight: bold;" />
						</td>
					</tr>
				</table>
				<div class="row">
					<h:commandButton id="save1" value="Save"
						action="#{customerManagedBean.editContactPerson(customerController.contactinfor)}"
						binding="#{customerManagedBean.save1}" class="btn btn-primary"
						style="margin-right:20px">
						<f:param name="paramIndex"
							value="#{customerController.customerId}" />
					</h:commandButton>
					<h:link value="Close" outcome="/admin/contactPerson.xhtml"
						class="btn btn-primary">
						<!-- pass the parameter to next page, the param name is paramIndex, and the value is index + 1. You can get the value from next page using the indexController -->
						<f:param name="paramIndex"
							value="#{customerController.contactinfor.getCustomer().getCusId()}" />
					</h:link>
				</div>
			</h:form>
		</div>
	</div>
	<section class="section-7">
		<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark">
			<!-- Copyright -->
			<div class="footer-copyright text-center">
				<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
	<h:outputScript library="js" name="formatDatePicker.js" />
</body>
</html>
