<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<title>Management System</title>
	<style>
@media ( min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
</style>
</h:head>
<h:body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 400px;">
		<div class="container">
			<h3>Customer Contact Person Information</h3>
			<h:form id="MyForm">
				<h:messages id="warning" globalOnly="true"
					style="color:red;font-weight: bold;" />
				<div>
					<h:commandButton id="add" value="Add a new contact person"
						action="contactPersonAdd.xhtml" class="btn btn-primary"
						style="margin-bottom:20px;">
						<f:param name="paramIndex" value="#{customerController.getId}" />
					</h:commandButton>
				</div>
				<table class="table table-bordered table-striped">
					<!-- For each contact person in contact person ArrayList... -->
					<tr>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="Id" value="Contact Person Id" /></td>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="name" value="Contact Person Name" /></td>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="personAge" value="Age" /></td>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="AvaTime" value="Available Time" /></td>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="personGender" value="Gender" /></td>
						<td style="text-align: center; vertical-align: middle;"><h:outputLabel
								id="phone" value="Mobile Phone" /></td>
						<td></td>
					</tr>
					<ui:repeat id="Myrepeat"
						value="#{customerController.contactPerson}" var="property"
						varStatus="status">
						<tr>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).contactId}"
									id="contactID" /></td>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).name}"
									id="contactName" /></td>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).age}"
									id="contactAge" /></td>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).availableTime}"
									id="contactTime" /></td>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).gender}"
									id="contactGender" /></td>
							<td style="text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerController.contactPerson.get(status.index).mobilePhone}"
									id="phone" /></td>
							<!-- 							<td
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;"><h:outputText
									value="#{customerApplication.customers.get(status.index).registerDate}"
									id="registerTime">
									<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
								</h:outputText></td> -->
							<td
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle; width: 162px;">
								<h:link value="View | "
									outcome="/admin/contactPersonDetail.xhtml">
									<!-- pass the parameter to next page, the param name is paramIndex, and the value is index + 1.
                                You can get the value from next page using the indexController -->
									<f:param name="paramIndex"
										value="#{customerController.contactPerson.get(status.index).contactId}" />
								</h:link> <h:link value="Edit | "
									outcome="/admin/contactPersonEdit.xhtml">
									<!-- pass the parameter to next page, the param name is paramIndex, and the value is index + 1.
	                                You can get the value from next page using the indexController -->
									<f:param name="paramIndex"
										value="#{customerController.contactPerson.get(status.index).contactId}" />
								</h:link> <h:commandLink value="Delete"
									action="#{customerController.removeContactPerson(customerController.contactPerson.get(status.index))}"
									disabled="#{customerController.contactPerson.get(status.index).contactId == null}">
									<f:param name="paramIndex"
										value="#{customerController.contactPerson.get(status.index).getCustomer().getCusId()}" />
								</h:commandLink>
							</td>
						</tr>
					</ui:repeat>
				</table>
				<h:link id="close" value="Close"
					outcome="/admin/customerDetail.xhtml" class="btn btn-primary"
					style="margin-right:20px">
					<f:param name="paramIndex"
						value="#{customerController.getCustomerIndex(customerController.getId)+1}" />
				</h:link>
			</h:form>
		</div>
	</div>
	<!-- Footer -->
	<footer id="footer" class="page-footer font-small stylish-color-dark">
		<!-- Copyright -->
		<div class="footer-copyright text-center">
			<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
</h:body>
</html>
