<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<title>Management System</title>
</h:head>
<h:body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 400px;">
		<div class="container">
			<div class="navbar navbar-inverse">
				<h3>Add a new Customer</h3>
			</div>
			<div>
				<f:view>
					<h:form>
						<h:message for="submit" globalOnly="true"
							style="color:blue;font-weight: bold;" />
						<table class="table table-bordered ">
							<tr>
								<td width="200"><h:outputLabel value="Company CEO:"
										for="ceo" /></td>
								<td><h:inputText id="ceo" value="#{customer.ceo}"
										title="ceo" required="true"
										requiredMessage="Please enter a company CEO"
										validatorMessage="Only numbers, letters and whitespaces are accepted for name of CEO"
										pt:placeholder="Jack MA">
										<f:validateRegex pattern="^([a-zA-Z0-9]+(.)?)+$" />
										<!-- dot:Matches any character except linebreaks. ? Matches 0 or 1 of the preceding token, effectively making it optional.-->
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<h:message for="ceo" style="color:red;font-weight: bold;" /></td>
							</tr>
							<tr>
								<td><h:outputLabel value="Industry Type:"
										for="IndustryType" /></td>
								<td><h:selectOneMenu id="IndustryType"
										value="#{customer.industryType}" converter="industry">
										<f:selectItem itemValue="#{null}" itemLabel="--select--" />
										<f:selectItems value="#{customerManagedBean.allIndustryType}"
											var="c" itemLabel="#{c.industryType}" itemValue="#{c}" />
									</h:selectOneMenu></td>
							</tr>
							<!-- 							<tr>
								<td width="200"><h:outputLabel value="Industry Type:"
										for="industryType" /></td>
								<td valign="bottom"><h:selectOneMenu id="industryType"
										value="#{customer.industryType}" pt:placeholder="Bank">
										<f:selectItem itemValue="Bank" itemLabel="Bank" />
										<f:selectItem itemValue="Building" itemLabel="Building" />
										<f:selectItem itemValue="Data Communication"
											itemLabel="Data Communication" />
										<f:selectItem itemValue="Education" itemLabel="Education" />
										<f:selectItem itemValue="Farm" itemLabel="Farm" />
										<f:selectItem itemValue="Health" itemLabel="Health" />
										<f:selectItem itemValue="Mining" itemLabel="Mining" />
										<f:selectItem itemValue="Publishing" itemLabel="Publishing" />
									</h:selectOneMenu></td>
							</tr> -->
							<tr>
								<td width="200"><h:outputLabel value="No of People:"
										for="noOfPeople" /></td>
								<td valign="bottom"><h:inputText id="noOfPeople"
										value="#{customer.noOfPeople}"
										converterMessage="Please enter a valid number of people"
										pt:placeholder="3088">
										<o:validator validatorId="javax.faces.Required"
											message="Please enter a number of people" />
										<o:validator validatorId="javax.faces.LongRange" minimum="1"
											message="Number of people must be greater than 0" />
										<!-- <f:validateLongRange minimum="1" /> -->
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="noOfPeople"
										style="color:red;font-weight: bold;" /></td>
							</tr>
							<tr>
								<td width="200"><h:outputLabel value="Purchased Product:"
										for="purchasedProduct" /></td>
								<td valign="bottom"><h:selectOneMenu id="purchasedProduct"
										value="#{customer.purchasedProduct}"
										pt:placeholder="Brother Printers">
										<f:selectItem itemValue="Brother Printers"
											itemLabel="Brother Printers" />
										<f:selectItem itemValue="Business Printers &amp; Copiers"
											itemLabel="Business Printers &amp; Copiers" />
										<f:selectItem itemValue="Inkjet Printers"
											itemLabel="Inkjet Printers" />
										<f:selectItem itemValue="Fax Machines"
											itemLabel="Fax Machines" />
										<f:selectItem itemValue="Continuous Ink Tank Printers"
											itemLabel="Continuous Ink Tank Printers" />
										<f:selectItem itemValue="Canon Printers"
											itemLabel="Canon Printers" />
										<f:selectItem itemValue="Multifunction Printers"
											itemLabel="Multifunction Printers" />
										<f:selectItem itemValue="Laser Printers"
											itemLabel="Laser Printers" />
										<f:selectItem itemValue="Wide Format Printers"
											itemLabel="Wide Format Printers" />
										<f:selectItem itemValue="Epson Printers"
											itemLabel="Epson Printers" />
										<f:selectItem itemValue="Printer Accessories"
											itemLabel="Printer Accessories" />
										<f:selectItem itemValue="HP Printers" itemLabel="HP Printers" />
										<f:selectItem itemValue="A3 Printers" itemLabel="A3 Printers" />
									</h:selectOneMenu></td>
							</tr>
							<tr>
								<td width="200"><h:outputLabel value="Register Date:"
										for="registerDate" /></td>
								<td valign="bottom"><h:inputText id="registerDate"
										styleClass="datepicker" value="#{customer.registerDate}"
										required="true" requiredMessage="Please enter a Register Date"
										pt:placeholder="2020-09-30">
										<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="registerDate"
										style="color:red;font-weight: bold;" /></td>
							</tr>
							<tr>
								<td width="100"><h:outputLabel value="Website:"
										for="website" /></td>
								<td valign="bottom"><h:inputText id="website"
										value="#{customer.website}" required="true"
										requiredMessage="Please enter a website"
										pt:placeholder="http://nature.com">
										<f:validator validatorId="UrlValidator" />
										<!-- check input appropriate URL -->
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<h:message for="website" style="color:red;font-weight: bold;" /></td>
							</tr>
							<tr>
								<td width="100"><h:outputLabel value="Street number:"
										for="streetNumber" /></td>
								<td valign="bottom"><h:inputText id="streetNumber"
										value="#{customer.streetNumber}" required="true"
										validatorMessage="Please enter a valid street number"
										requiredMessage="Please enter an street number"
										pt:placeholder="244">
										<f:validateRegex pattern="^([0-9]+)$" />
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="streetNumber"
										style="color:red;font-weight: bold;" /></td>
							</tr>

							<tr>
								<td width="100"><h:outputLabel value="Street address:"
										for="streetAddress" /></td>
								<td valign="bottom"><h:inputText id="streetAddress"
										value="#{customer.streetAddress}" required="true"
										requiredMessage="Please enter an street address"
										pt:placeholder="3/244 Koornang Rd"></h:inputText> <h:outputText
										value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="streetAddress"
										style="color:red;font-weight: bold;" /></td>
							</tr>

							<tr>
								<td width="100"><h:outputLabel value="Suburb:" for="suburb" /></td>
								<td valign="bottom"><h:inputText id="suburb"
										value="#{customer.suburb}" required="true"
										requiredMessage="Please enter a suburb"
										pt:placeholder="Carnegie"></h:inputText> <h:outputText
										value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="suburb" style="color:red;font-weight: bold;" />
								</td>
							</tr>
							<tr>
								<td width="100"><h:outputLabel value="State:" for="state" /></td>
								<td valign="bottom"><h:inputText id="state"
										value="#{customer.state}" required="true"
										validatorMessage="Please enter a valid state(Only accept alphabet, no case sensitive)"
										requiredMessage="Please enter a state" pt:placeholder="VIC">
										<f:validateRegex pattern="^([a-zA-Z]+)$" />
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="state" style="color:red;font-weight: bold;" />
								</td>
							</tr>
							<tr>
								<td width="100"><h:outputLabel value="Postcode:"
										for="postcode" /></td>
								<td valign="bottom"><h:inputText id="postcode"
										value="#{customer.postcode}" required="true"
										validatorMessage="Please enter a valid postcode(Only accept numbers)"
										requiredMessage="Please enter a postcode"
										pt:placeholder="3163">
										<f:validateRegex pattern="^([0-9]+)$" />
									</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
									<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
									<h:message for="postcode" style="color:red;font-weight: bold;" />
								</td>
							</tr>
							<tr>
								<td><h:outputLabel value="Managed by:" for="staff" /></td>
								<td><h:selectOneMenu id="staff"
										value="#{customer.normalUser}" converter="Staff">
										<f:selectItem itemValue="#{null}" itemLabel="--select--" />
										<f:selectItems value="#{customerManagedBean.allStaff}" var="c"
											itemLabel="#{c.username}" itemValue="#{c}" />
									</h:selectOneMenu></td>
							</tr>
						</table>

						<h:commandButton id="submit" value="Submit"
							action="#{addCustomer.addNewCustomer(customer)}"
							binding="#{addCustomer.submit}" class="btn btn-primary"
							style="margin-right:20px" />
						<h:link id="close" value="Close" outcome="/admin/customer.xhtml"
							class="btn btn-primary" />

					</h:form>

				</f:view>
			</div>
		</div>
	</div>
	<section class="section-7">
		<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark">
			<!-- Copyright -->
			<div class="footer-copyright text-center">
				<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
	<h:outputScript library="js" name="formatDatePicker.js" />
</h:body>
</html>
