<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<title>Management System</title>
</h:head>

<body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us">
		<div class="container">
			<div class="navbar navbar-inverse">
				<h3>Edit Customer Information</h3>
			</div>
			<h:form id="MyForm">
				<h:message for="save" style="color:blue;font-weight: bold;"
					globalOnly="true" />
				<table class="table table-bordered ">

					<tr>
						<td width="150" valign="top">Customer Id:</td>

						<td valign="bottom"><h:outputLabel id="cusId">#{customerController.customer.cusId}</h:outputLabel>
						</td>
					</tr>
					<tr>
						<td width="100" valign="top">Company CEO:</td>
						<td valign="bottom"><h:inputText id="ceo"
								value="#{customerController.customer.ceo}" required="true"
								validatorMessage="Only numbers, letters and whitespaces are accepted for name of CEO"
								requiredMessage="Please enter a company CEO">
								<f:validateRegex pattern="^([a-zA-Z0-9]+(.)?)+$" />
								<!-- dot:Matches any character except linebreaks. ? Matches 0 or 1 of the preceding token, effectively making it optional.-->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="ceo" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td><h:outputLabel value="Industry Type:" for="IndustryType" /></td>
						<td><h:selectOneMenu id="IndustryType"
								value="#{customerController.customer.industryType}"
								converter="industry">
								<f:selectItems value="#{customerManagedBean.allIndustryType}"
									var="c" itemLabel="#{c.industryType}" itemValue="#{c}" />
							</h:selectOneMenu></td>
					</tr>
					<!-- 					<tr>
						<td width="100" valign="top">Industry Type:</td>
						<td valign="bottom">
								<h:selectOneMenu id="industryType" value="#{customerController.customer.industryType}">
				   					<f:selectItem itemValue="Bank" itemLabel="Bank" />
						   			<f:selectItem itemValue="Building" itemLabel="Building" />
						   			<f:selectItem itemValue="Data Communication" itemLabel="Data Communication" />
						   			<f:selectItem itemValue="Education" itemLabel="Education" />
						   			<f:selectItem itemValue="Farm" itemLabel="Farm" />
						   			<f:selectItem itemValue="Health" itemLabel="Health" />
						   			<f:selectItem itemValue="Mining" itemLabel="Mining" />
						   			<f:selectItem itemValue="Publishing" itemLabel="Publishing" />
				   				</h:selectOneMenu></td>
					</tr> -->
					<tr>
						<td width="100" valign="top">No of People:</td>

						<td valign="bottom"><h:inputText id="noOfPeople"
								value="#{customerController.customer.noOfPeople}"
								converterMessage="Please enter a valid number of people">
								<o:validator validatorId="javax.faces.Required"
									message="Please enter a number of people" />
								<o:validator validatorId="javax.faces.LongRange" minimum="1"
									message="Number of people must be greater than 0" />
								<!-- <f:validateLongRange minimum="1" /> -->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="noOfPeople" style="color:red;font-weight: bold;" />
						</td>
					</tr>
					<tr>
						<td width="184" valign="top">Purchased Product:</td>
						<td valign="bottom"><h:selectOneMenu id="purchasedProduct"
								value="#{customerController.customer.purchasedProduct}">
								<f:selectItem itemValue="Brother Printers"
									itemLabel="Brother Printers" />
								<f:selectItem itemValue="Business Printers &amp; Copiers"
									itemLabel="Business Printers &amp; Copiers" />
								<f:selectItem itemValue="Inkjet Printers"
									itemLabel="Inkjet Printers" />
								<f:selectItem itemValue="Fax Machines" itemLabel="Fax Machines" />
								<f:selectItem itemValue="Continuous Ink Tank Printers"
									itemLabel="Continuous Ink Tank Printers" />
								<f:selectItem itemValue="Canon Printers"
									itemLabel="Canon Printers" />
								<f:selectItem itemValue="Multifunction Printers"
									itemLabel="Multifunction Printers" />
								<f:selectItem itemValue="Laser Printers"
									itemLabel="Laser Printers" />
								<f:selectItem itemValue="Wide Format Printers"
									itemLabel="Wide Format Printers" />
								<f:selectItem itemValue="Epson Printers"
									itemLabel="Epson Printers" />
								<f:selectItem itemValue="Printer Accessories"
									itemLabel="Printer Accessories" />
								<f:selectItem itemValue="HP Printers" itemLabel="HP Printers" />
								<f:selectItem itemValue="A3 Printers" itemLabel="A3 Printers" />
							</h:selectOneMenu></td>
					</tr>
					<tr>
						<td width="100" valign="top">Register Date:</td>
						<td valign="bottom"><h:inputText id="registerDate"
								styleClass="datepicker"
								value="#{customerController.customer.registerDate}"
								required="true" requiredMessage="Please enter a Register Date">
								<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="registerDate"
								style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Website:</td>
						<td valign="bottom"><h:inputText id="website"
								value="#{customerController.customer.website}" required="true"
								requiredMessage="Please enter a website">
								<f:validator validatorId="UrlValidator" />
								<!-- check input appropriate URL -->
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> <h:message
								for="website" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Street number:</td>
						<td valign="bottom"><h:inputText id="streetNumber"
								value="#{customerController.customer.address.streetNumber}"
								binding="#{streetNumber}" required="true"
								validatorMessage="Please enter a valid street number"
								requiredMessage="Please enter an street number">
								<f:validateRegex pattern="^([0-9]+)$" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="streetNumber"
								style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Street address:</td>
						<td valign="bottom"><h:inputText id="streetAddress"
								value="#{customerController.customer.address.streetAddress}"
								binding="#{streetAddress}" required="true"
								requiredMessage="Please enter an street address"></h:inputText>
							<h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="streetAddress"
								style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Suburb:</td>
						<td valign="bottom"><h:inputText id="suburb"
								value="#{customerController.customer.address.suburb}"
								binding="#{suburb}" required="true"
								requiredMessage="Please enter a suburb"></h:inputText> <h:outputText
								value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="suburb" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">State:</td>
						<td valign="bottom"><h:inputText id="state"
								value="#{customerController.customer.address.state}"
								binding="#{state}" required="true"
								validatorMessage="Please enter a valid state(Only accept alphabet, no case sensitive)"
								requiredMessage="Please enter a state">
								<f:validateRegex pattern="^([a-zA-Z]+)$" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="state" style="color:red;font-weight: bold;" /></td>
					</tr>
					<tr>
						<td width="100" valign="top">Postcode:</td>
						<td valign="bottom"><h:inputText id="postcode"
								value="#{customerController.customer.address.postcode}"
								binding="#{postcode}" required="true"
								validatorMessage="Please enter a valid postcode(Only accept numbers)"
								requiredMessage="Please enter a postcode">
								<f:validateRegex pattern="^([0-9]+)$" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" />
							<!-- &#160; is the numeric entity reference (meant to be easily parseable by machines). -->
							<h:message for="postcode" style="color:red;font-weight: bold;" />
						</td>
					</tr>
				</table>
				<div class="row">
					<h:commandButton id="save" value="Save"
						action="#{customerManagedBean.editCustomer(customerController.customer)}"
						binding="#{customerManagedBean.save}" class="btn btn-primary"
						style="margin-right:20px">
						<f:param name="paramIndex"
							value="#{customerController.customerId}" />
					</h:commandButton>
					<h:link id="close" value="Close" outcome="/admin/customer.xhtml"
						class="btn btn-primary" />
				</div>
			</h:form>
		</div>
	</div>
	<section class="section-7">
		<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark">
			<!-- Copyright -->
			<div class="footer-copyright text-center">
				<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
	<h:outputScript library="js" name="formatDatePicker.js" />
</body>
</html>
