<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css" />
	<title>Management System</title>
	<style>
@media ( min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
</style>
</h:head>
<h:body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 270px;">
		<div class="container">
			<h3>Customer Information</h3>
			<div>
				<h:button id="add" value="Add a new Customer"
					outcome="/admin/customerAdd.xhtml" class="btn btn-primary"
					style="margin-bottom:20px;" />
			</div>
            <div class="form-inline">
 			<div style="display: inline-flex;">
  				<h:selectOneMenu id="a" style="height: 25px;">
					<f:selectItem itemValue="" itemLabel="--ALL--" />
					<f:selectItem itemValue="Bank" itemLabel="Bank" />
					<f:selectItem itemValue="Building" itemLabel="Building" />
					<f:selectItem itemValue="Data Communication"
						itemLabel="Data Communication" />
					<f:selectItem itemValue="Education" itemLabel="Education" />
					<f:selectItem itemValue="Farm" itemLabel="Farm" />
					<f:selectItem itemValue="Health" itemLabel="Health" />
					<f:selectItem itemValue="Mining" itemLabel="Mining" />
					<f:selectItem itemValue="Publishing" itemLabel="Publishing" />
				</h:selectOneMenu>
				<h:selectOneMenu id="b" style="height: 25px;margin-left: 30px;">
					<f:selectItem itemValue="" itemLabel="--All--" />
					<f:selectItem itemValue="Brother Printers"
						itemLabel="Brother Printers" />
					<f:selectItem itemValue="Business Printers &amp; Copiers"
						itemLabel="Business Printers &amp; Copiers" />
					<f:selectItem itemValue="Inkjet Printers"
						itemLabel="Inkjet Printers" />
					<f:selectItem itemValue="Fax Machines" itemLabel="Fax Machines" />
					<f:selectItem itemValue="Continuous Ink Tank Printers"
						itemLabel="Continuous Ink Tank Printers" />
					<f:selectItem itemValue="Canon Printers" itemLabel="Canon Printers" />
					<f:selectItem itemValue="Multifunction Printers"
						itemLabel="Multifunction Printers" />
					<f:selectItem itemValue="Laser Printers" itemLabel="Laser Printers" />
					<f:selectItem itemValue="Wide Format Printers"
						itemLabel="Wide Format Printers" />
					<f:selectItem itemValue="Epson Printers" itemLabel="Epson Printers" />
					<f:selectItem itemValue="Printer Accessories"
						itemLabel="Printer Accessories" />
					<f:selectItem itemValue="HP Printers" itemLabel="HP Printers" />
					<f:selectItem itemValue="A3 Printers" itemLabel="A3 Printers" />
				</h:selectOneMenu>
<!--  			        <input class="form-control mr-5"  id="a" placeholder="Industry type" />
                    <input class="form-control mr-5"  id="b" placeholder="Purchased product" />  -->
	                <input id="searchAddress" placeholder="Address" style="margin-left: 30px;height: 26px;width: 328px;"/>
	                <button class="btn btn-primary" id="search" style="margin-left: 30px;margin-bottom: 5px;">Combination Search</button> 
            	</div> 
            </div>
			<h:form id="MyForm">
				<h:messages id="warning" globalOnly="true"
					style="color:red;font-weight: bold;" />
				<h:selectOneMenu id="searchByType"
					value="#{searchCustomer.searchByType}">
					<f:selectItem itemValue="all" itemLabel="--All--" />
					<f:selectItem itemValue="1" itemLabel="Bank" />
					<f:selectItem itemValue="2" itemLabel="Building" />
					<f:selectItem itemValue="3"
						itemLabel="Data Communication" />
					<f:selectItem itemValue="4" itemLabel="Education" />
					<f:selectItem itemValue="5" itemLabel="Farm" />
					<f:selectItem itemValue="6" itemLabel="Health" />
					<f:selectItem itemValue="7" itemLabel="Mining" />
					<f:selectItem itemValue="8" itemLabel="Publishing" />
				</h:selectOneMenu>
				<h:commandButton id="searchType" value="Search by Industry Type"
					action="#{searchCustomer.searchCustomerByType(searchCustomer.searchByType)}"
					class="btn btn-primary"
					style="margin-left: 20px;margin-right: 50px;">
					<f:param name="customerID" value="#{status.index + 1}" />
				</h:commandButton>
				<h:selectOneMenu id="searchCustomerByProduct"
					value="#{searchCustomer.searchCustomerByProduct}">
					<f:selectItem itemValue="all" itemLabel="--All--" />
					<f:selectItem itemValue="Brother Printers"
						itemLabel="Brother Printers" />
					<f:selectItem itemValue="Business Printers &amp; Copiers"
						itemLabel="Business Printers &amp; Copiers" />
					<f:selectItem itemValue="Inkjet Printers"
						itemLabel="Inkjet Printers" />
					<f:selectItem itemValue="Fax Machines" itemLabel="Fax Machines" />
					<f:selectItem itemValue="Continuous Ink Tank Printers"
						itemLabel="Continuous Ink Tank Printers" />
					<f:selectItem itemValue="Canon Printers" itemLabel="Canon Printers" />
					<f:selectItem itemValue="Multifunction Printers"
						itemLabel="Multifunction Printers" />
					<f:selectItem itemValue="Laser Printers" itemLabel="Laser Printers" />
					<f:selectItem itemValue="Wide Format Printers"
						itemLabel="Wide Format Printers" />
					<f:selectItem itemValue="Epson Printers" itemLabel="Epson Printers" />
					<f:selectItem itemValue="Printer Accessories"
						itemLabel="Printer Accessories" />
					<f:selectItem itemValue="HP Printers" itemLabel="HP Printers" />
					<f:selectItem itemValue="A3 Printers" itemLabel="A3 Printers" />
				</h:selectOneMenu>
				<h:commandButton id="searchProduct"
					value="Search by Purchased Product"
					action="#{searchCustomer.searchByPurchasedProduct(searchCustomer.searchCustomerByProduct)}"
					class="btn btn-primary" style="margin-left: 20px;">
					<f:param name="customerID" value="#{status.index + 1}" />
				</h:commandButton>
				<table class="table table-bordered table-striped" id="cus">
					<!-- For each customer in customer ArrayList... -->
					<thead class="thead-dark">
						<tr>
							<th scope="col" style="text-align: center; vertical-align: middle;"><h:outputLabel
									id="Id" value="Customer Id" /></th>
							<th scope="col" style="text-align: center; vertical-align: middle;"><h:outputLabel
									id="industryType" value="Industry Type" /></th>
							<th scope="col" style="text-align: center; vertical-align: middle;"><h:outputLabel
									id="purchasedProduct" value="Purchased Product" /></th>
							<th scope="col" style="text-align: center; vertical-align: middle;"><h:outputLabel
									id="Address" value="Address" /></th>
							<th scope="col" style="text-align: center; vertical-align: middle;"><h:outputLabel
									id="registerDate" value="Register Date" /></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat id="Myrepeat" value="#{customerApplication.customers}"
							var="property" varStatus="status">
							<tr>
								<td><h:outputText
										value="#{customerApplication.customers.get(status.index).cusId}"
										id="customerID" /></td>
								<td><h:outputText
										value="#{customerApplication.customers.get(status.index).industryType.getIndustryType()}"
										id="inType" /></td>
								<td><h:outputText
										value="#{customerApplication.customers.get(status.index).purchasedProduct}"
										id="purProduct" /></td>
								<td><h:outputText
										value="#{customerApplication.customers.get(status.index).address}"
										id="outAddress" /></td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;"><h:outputText
										value="#{customerApplication.customers.get(status.index).registerDate}"
										id="registerTime">
										<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
									</h:outputText></td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle; width: 162px;">
									<h:link value="View | " outcome="/admin/customerDetail.xhtml">
										<!-- pass the parameter to next page, the param name is paramIndex, and the value is index + 1.
	                                You can get the value from next page using the indexController -->
										<f:param name="paramIndex" value="#{status.index + 1}" />
									</h:link> <h:link value="Edit | " outcome="/admin/customerEdit.xhtml">
										<!-- pass the parameter to next page, the param name is paramIndex, and the value is index + 1.
		                                You can get the value from next page using the indexController -->
										<f:param name="paramIndex" value="#{status.index + 1}" />
									</h:link> <h:commandLink value="Delete"
										action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).cusId)}"
										disabled="#{customerApplication.customers.get(status.index).cusId == null}">
									</h:commandLink>
								</td>
							</tr>
						</ui:repeat>
					</tbody>
				</table>
			</h:form>
		</div>
	</div>
	<!-- Footer -->
	<footer id="footer" class="page-footer font-small stylish-color-dark">
		<!-- Copyright -->
		<div class="footer-copyright text-center">
			<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
	        var table = $('#cus').DataTable({
                "dom": 'lrtip',
                "lengthChange": false,
                "autoWidth": true
	        });

            $('#search').click(function () {
                var type = $('#a').val();
                var product = $('#b').val();
            	/* var type = document.getElementById("MyForm:searchByType").value;
                if(type==="1"){type="Bank";}
                if(type==="2"){type="Building";}
                if(type==="3"){type="Data Communication";}
                if(type==="4"){type="Education";}
                if(type==="5"){type="Farm";}
                if(type==="6"){type="Health";}
                if(type==="7"){type="Mining";}
                if(type==="8"){type="Publishing";}
            	var product = document.getElementById("MyForm:searchCustomerByProduct").value; */
                var address = $('#searchAddress').val();
                if (type !== null || product !== null || address !== null) {
                    table.column(4).visible(false);
                    table.column(1).search(type).draw();
                    table.column(2).search(product).draw();
                    table.column(3).search(address).draw();

                }

                if (type === "" &#38;&#38; product === "" &#38;&#38; address === "") {
                    table.column(4).visible(true);
                    table.search().draw();
                }

            });
	    });
    </script>
</h:body>
</html>
