<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css" />
	<title>Management System</title>
	<style>
@media ( min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
</style>
</h:head>
<h:body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-center">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/index.xhtml" value="Home"/></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/industry.xhtml" value="Manage Industry Type"/></li>
 					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 270px;">
		<div class="container">
			<h3>Industry Type Information</h3>
			<h:form id="MyForm">
				<div>
					<h:commandButton id="add" value="Add a new Industry Type"
						action="industryAdd.xhtml" class="btn btn-primary"
						style="margin-bottom:20px;" />
				</div>
				<h:messages globalOnly="true"
					style="color:red;font-weight: bold;" />
				<table class="table table-bordered table-striped" id="inType">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Industry Type</th>
							<th scope="col">Operations</th>
						</tr>
					</thead>
					<tbody>
					<ui:repeat id="Myrepeat" value="#{customerApplication.industryTypes}"
						var="property" varStatus="status">
						<tr>
							<td><h:outputText
									value="#{customerApplication.industryTypes.get(status.index).inId}"
									id="typeID" /></td>
							<td><h:outputText
									value="#{customerApplication.industryTypes.get(status.index).industryType}"
									id="Type" /></td>
							<td>
								<h:link class="btn btn-outline-primary" type="button" value="Edit" outcome="/admin/industryEdit.xhtml">
<!-- 									pass the parameter to next page, the param name is paramIndex, and the value is index + 1.
	                                You can get the value from next page using the indexController -->
									<f:param name="paramIndex" value="#{status.index + 1}" />
								</h:link> 
								<h:commandLink style="margin-left: 20px;" class="btn btn-outline-primary" type="button" value="Delete"
									action="#{removeIndustryType.deleteIndustryType(customerApplication.industryTypes.get(status.index).inId)}"
									disabled="#{customerApplication.industryTypes.get(status.index).inId == null}">
								</h:commandLink>
							</td>
						</tr>
 					</ui:repeat>
					</tbody>
				</table>
			</h:form>
		</div>
	</div>
	<!-- Footer -->
	<footer id="footer" class="page-footer font-small stylish-color-dark">
		<!-- Copyright -->
		<div class="footer-copyright text-center">
			<div class="gradient"></div>
				<p>
					© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu
				</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
                $(document).ready(function () {
                    var table = $('#inType').DataTable({
                        "lengthChange": false,
                        "autoWidth": true
                    });
                });
            </script>
</h:body>
</html>
