<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css" />
	<title>Management System</title>
	<style>
@media ( min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
</style>
</h:head>
<h:body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-right">
					<div class="row">
						<h6>
							Hello, Admin&#160;&#160;&#160;&#160;
							<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink>
						</h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" value="Home"
							outcome="/admin/index.xhtml" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/customer.xhtml" value="Manage Customer" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/industry.xhtml" value="Manage Industry Type" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 200px;">
		<div class="container">
			<h3 style="padding-bottom: 80px;">Normal User Information</h3>
			<div class="container">
				<div class="form-inline" style="margin-bottom: 20px;">
					<button type="button" class="btn btn-primary" data-toggle="modal"
						data-target="#addNormalUser" data-whatever="@getbootstrap">Add
						new Normal User</button>
				</div>
			</div>

			<h:form id="MyForm">
				<!-- 				<div>
					<h:commandButton id="add" value="Add a new Industry Type"
						action="industryAdd.xhtml" class="btn btn-primary"
						style="margin-bottom:20px;" />
				</div>
				<h:messages globalOnly="true"
					style="color:red;font-weight: bold;" /> -->
				<table class="table table-bordered table-striped" id="userDetail">
					<thead class="thead-dark">
						<tr>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">Id</th>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">User
								Name</th>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">role
								type</th>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">Date
								Of Birth</th>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">Salary</th>
							<th scope="col"
								style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;"></th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat var="user" value="#{getNormalUser.getAllStaffs()}"
							varStatus="status">
							<tr>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">#{status.index+1}</td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">#{user.username}</td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">#{user.roleType}</td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">
									<h:outputText value="#{user.dob}" id="registerTime">
										<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
									</h:outputText>
								</td>
								<td
									style="padding-right: 5px; padding-left: 5px; text-align: center; vertical-align: middle;">#{user.salary}</td>
								<td><h:commandButton class="btn btn-outline-primary"
										action="#{updateNormalUser.ShowDetails(user.id)}" value="View" />
									<h:commandButton class="btn btn-outline-primary"
										action="#{updateNormalUser.UpdateDetails(user.id)}"
										value="Update" />
									<button type="button" class="btn btn-outline-danger"
										data-toggle="modal" data-target="#deleteNormalUser#{user.id}">Delete</button>
								</td>
							</tr>

							<!--delete user-->
							<div class="modal fade" id="deleteNormalUser#{user.id}"
								tabindex="-1" role="dialog"
								aria-labelledby="deleteUserCenterTitle" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalCenterTitle">Delete
												confirmation</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&#215;</span>
											</button>
										</div>
										<div class="modal-body">Are you sure you want to delete?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<h:commandButton class="btn btn-danger"
												action="#{deleteNormalUser.deleteUserById(user.id)}"
												value="Delete" />
										</div>
									</div>
								</div>
							</div>
						</ui:repeat>
					</tbody>
				</table>
			</h:form>
			<!--add new user-->
			<div class="modal fade" id="addNormalUser" tabindex="-1"
				role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">New Normal
								User</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&#215;</span>
							</button>
						</div>
						<h:form id="addNewNormalUser">
							<div class="modal-body">

								<div class="form-group">
									<label for="name" class="col-form-label">User Name:</label>
									<h:inputText class="form-control" id="name"
										value="#{addUser.username}"
										requiredMessage="name can not be empty">
										<f:validateRequired id="validateName" />
										<f:ajax execute="validateName" render="errorMsgForName submit"
											event="blur" />
									</h:inputText>
									<h:message id="errorMsgForName"
										class="text-danger font-weight-bold" for="name" />
								</div>

								<div class="form-group">
									<label for="name" class="col-form-label">Date of
										Birth::</label>
									<h:inputText class="form-control datepicker" id="dob"
										value="#{addUser.dob}" requiredMessage="dob can not be empty">
										<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
										<f:validateRequired id="validateDob" />
										<f:ajax execute="validateDob" render="errorMsgForDob submit"
											event="blur" />
									</h:inputText>
									<h:message id="errorMsgForDob"
										class="text-danger font-weight-bold" for="dob" />
								</div>

								<div class="form-group">
									<label for="salary" class="col-form-label">Salary:</label>
									<h:inputText class="form-control" id="salary"
										value="#{addUser.salary}"
										requiredMessage="salary can not be empty">
										<f:validateRequired id="validateSalary" />
										<f:ajax execute="validateSalary"
											render="errorMsgForSalary submit" event="blur" />
									</h:inputText>
									<h:message id="errorMsgForSalary"
										class="text-danger font-weight-bold" for="salary" />
								</div>


								<div class="form-group">
									<label for="password" class="col-form-label">Password:</label>
									<h:inputSecret class="form-control" id="password"
										value="#{addUser.password}"
										requiredMessage="Password can not be empty">
										<f:validateRequired id="validatePwd" />
										<f:ajax execute="validatePwd" render="errorMsgForPwd submit"
											event="blur" />
									</h:inputSecret>
									<h:message id="errorMsgForPwd"
										class="text-danger font-weight-bold" for="password" />
								</div>

								<div class="form-group">
									<label for="conPassword" class="col-form-label">Confirm
										password:</label>
									<h:inputSecret class="form-control" id="conPassword"
										value="#{addUser.samePassword}"
										requiredMessage="Confirm password can not be empty">
										<f:validateRequired id="validateConPwd" />
										<f:ajax execute="validateConPwd"
											render="errorMsgForConPwd unequal submit" event="blur"
											listener="#{addUser.listenForComparePwd(param['addNewNormalUser:password'])}" />
									</h:inputSecret>
									<h:message id="errorMsgForConPwd"
										class="text-danger font-weight-bold" for="conPassword" />
									<h:outputText id="unequal" class="text-danger font-weight-bold"
										value="#{addUser.invalidPwdMsg}" />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
								<h:commandButton id="submit" value="submit"
									class="btn btn-primary" action="#{addUser.addNewNormalUser()}" />
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer id="footer" class="page-footer font-small stylish-color-dark">
		<!-- Copyright -->
		<div class="footer-copyright text-center">
			<div class="gradient"></div>
			<p>© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by
				Rock Liu</p>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
	<script type="text/javascript">
                $(document).ready(function () {
                    var table = $('#userDetail').DataTable({
                        "lengthChange": false,
                        "autoWidth": true
                    });
                });
            </script>
</h:body>
</html>