<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<link rel="stylesheet"
		href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<title>Management System</title>
</h:head>
<body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-right">
					<div class="row">
						<h6>
							Hello, Admin&#160;&#160;&#160;&#160;
							<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink>
						</h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" value="Home"
							outcome="/admin/index.xhtml" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/customer.xhtml" value="Manage Customer" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/Industry.xhtml" value="Manage Industry Type" /></li>
					<li class="nav-item"><h:link class="nav-link"
							outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 160px;">
		<div class="container">
			<div class="navbar navbar-inverse" style="padding-bottom: 20px;">
				<h3>Edit Normal User Information</h3>
			</div>

			<h:form id="MyForm">
				<!-- 			        <div class="form-group ">
                      <label for="id" class="col-sm-2 control-label ">Normal User Id:</label>
                          <div class="col-sm-4">
                              <h:outputLabel  class="form-control" id="id" value="#{updateNormalUser.normalUser.id}">
                               </h:outputLabel>
                          </div>
                    </div> -->
				<div class="form-group ">
					<label for="username" class="col-sm-2 control-label">User
						Name:</label>
					<div class="col-sm-4">
						<h:inputText class="form-control" id="username"
							value="#{updateNormalUser.normalUser.username}"
							validatorMessage="Only numbers, letters and whitespaces are accepted for name of Staff"
							requiredMessage="Please enter a Staff Name">
							<f:validateRegex pattern="^([a-zA-Z0-9]+(.)?)+$" />
						</h:inputText>
						<h:message class="text-danger font-weight-bold" for="username" />
					</div>
				</div>
				<!-- 					<tr>
						<td width="100" valign="top">User Name:</td>
						<td valign="bottom"><h:inputText id="username"
								value="#{updateNormalUser.normalUser.username}" required="true"
								validatorMessage="Only numbers, letters and whitespaces are accepted for name of Staff"
								requiredMessage="Please enter a Staff Name">
								<f:validateRegex pattern="^([a-zA-Z0-9]+(.)?)+$" />
								dot:Matches any character except linebreaks. ? Matches 0 or 1 of the preceding token, effectively making it optional.
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> &#160; is the numeric entity reference (meant to be easily parseable by machines).
							<h:message for="username" style="color:red;font-weight: bold;" /></td>
					</tr> -->
				<!-- 					<tr>
						<td width="150" valign="top">Password:</td>
						<td valign="bottom"><h:inputSecret id="password"
								value="#{updateNormalUser.normalUser.password}" required="true"
								requiredMessage="Password can not be empty" /> <h:message
								class="text-danger font-weight-bold" for="password" /></td>
					</tr> -->
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">Password:</label>
					<div class="col-sm-4">
						<h:inputSecret class="form-control" id="password"
							value="#{updateNormalUser.normalUser.password}" required="true"
							requiredMessage="Password can not be empty" />
						<h:message class="text-danger font-weight-bold" for="password" />
					</div>
				</div>
				<!--                     <div class="form-group ">
                                <label for="type"  class="col-sm-2 control-label">Role Type:</label>
                                <div class="col-sm-4">
                                    <h:outputLabel id="type" value="#{updateNormalUser.normalUser.roleType}" class="form-control"></h:outputLabel>
                                </div>
                     </div> -->
				<!-- 					<tr>
						<td width="150" valign="top">Role Type:</td>

						<td valign="bottom"><h:outputLabel id="type"
								value="#{updateNormalUser.normalUser.roleType}" /></td>
					</tr> -->
				<!-- 					<tr>
						<td width="100" valign="top">Date of Birth:</td>
						<td valign="bottom"><h:inputText id="dob"
								styleClass="datepicker"
								value="#{updateNormalUser.normalUser.dob}" required="true"
								requiredMessage="Please enter a Date of Birth">
								<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> &#160; is the numeric entity reference (meant to be easily parseable by machines).
							<h:message for="dob" style="color:red;font-weight: bold;" /></td>
					</tr> -->
				<div class="form-group ">
					<label for="dob" class="col-sm-2 control-label">Date of
						Birth:</label>
					<div class="col-sm-4">
						<h:inputText id="dob" class="form-control datepicker"
							value="#{updateNormalUser.normalUser.dob}" required="true"
							requiredMessage="Please enter a Date of Birth">
							<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
						</h:inputText>
						<h:message class="text-danger font-weight-bold" for="dob" />
					</div>
				</div>
				<div class="form-group ">
					<label for="salary" class="col-sm-2 control-label">Salary:</label>
					<div class="col-sm-4">
						<h:inputText id="salary" class="form-control"
							value="#{updateNormalUser.normalUser.salary}"
							converterMessage="Please enter a valid salary">
							<o:validator validatorId="javax.faces.Required"
								message="Please enter a salary" />
							<o:validator validatorId="javax.faces.LongRange" minimum="1"
								message="The salary must be greater than 0" />
							<!-- <f:validateLongRange minimum="1" /> -->
						</h:inputText>
						<h:message class="text-danger font-weight-bold" for="salary" />
					</div>
				</div>
				<!-- 					<tr>
						<td width="100" valign="top">Salary:</td>

						<td valign="bottom"><h:inputText id="salary"
								value="#{updateNormalUser.normalUser.salary}"
								converterMessage="Please enter a valid salary">
								<o:validator validatorId="javax.faces.Required"
									message="Please enter a salary" />
								<o:validator validatorId="javax.faces.LongRange" minimum="1"
									message="The salary must be greater than 0" />
								<f:validateLongRange minimum="1" />
							</h:inputText> <h:outputText value="&#160;&#160;&#160;&#160;&#160;&#160;" /> &#160; is the numeric entity reference (meant to be easily parseable by machines).
							<h:message for="salary" style="color:red;font-weight: bold;" />
						</td>
					</tr> -->
				<h:inputHidden value="#{updateNormalUser.normalUser.id}" />

				<h:commandButton value="Save" class="btn btn-primary"
					action="#{updateNormalUser.updateStaff()}"
					style="margin-top: 20px;" /> &#160;&#160;
				<h:link id="close" value="Close" outcome="/admin/normalUser.xhtml"
					class="btn btn-primary" style="margin-right:20px;margin-top: 20px;" />
			</h:form>
		</div>
	</div>
	<section class="section-7">
		<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark">
			<!-- Copyright -->
			<div class="footer-copyright text-center">
				<div class="gradient"></div>
				<p>© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-1.12.4.js" />
	<script type="text/javascript"
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" />
	<h:outputScript library="js" name="formatDatePicker.js" />
</body>
</html>