<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800"
		rel="stylesheet" type="text/css" />
	<h:outputStylesheet library="css" name="animate.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
	<title>Management System</title>
</h:head>
<body>
	<header class="header bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-sm-2 align-self-center text-left">
					<h6>AUSPrintings Pty Ltd</h6>
				</div>
				<div class="col-sm-7 col-12 align-self-center box-1 text-center">
					<h:link class="navbar-brand" outcome="faces/index.xhtml">
						<h:graphicImage value="/resources/images/header-logo.png"
							alt="logo" style="height: 75px;" />
					</h:link>
				</div>
				<div class="col-sm-3 align-self-center text-right">
					<div class="row">
						  <h6>Hello, Admin&#160;&#160;&#160;&#160;<h:outputLink value="${request.contextPath}/logout">Logout</h:outputLink></h6>
					</div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--container-->
	</header>
	<span class="position-absolute trigger"> <!-- hidden trigger to apply 'stuck' styles -->
	</span>
	<nav class="navbar navbar-expand-sm sticky-top navbar-dark">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbar1">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar1">
				<ul class="navbar-nav">
					<li class="nav-item"><h:link class="nav-link" value="Home" outcome="/admin/index.xhtml" /></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/customer.xhtml" value="Manage Customer" /></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/Industry.xhtml" value="Manage Industry Type" /></li>
					<li class="nav-item"><h:link class="nav-link" outcome="/admin/normalUser.xhtml" value="Manage Normal User" /></li>	
				</ul>
			</div>
		</div>
		<!--container end-->
	</nav>
	<div id="about-us" style="padding-top: 100px; padding-bottom: 160px;">
		<div class="container">
			<div class="navbar navbar-inverse" style="padding-bottom: 20px;">
				<h3>View Normal User Information</h3>
			</div>

			<h:form id="MyForm">
				<table class="table table-bordered ">
					<tr>
						<td width="150" valign="top">Normal User Id:</td>

						<td valign="bottom"><h:outputLabel id="id">#{updateNormalUser.normalUser.id}</h:outputLabel>
						</td>
					</tr>
					<tr>
						<td width="150" valign="top">Staff Name:</td>

						<td valign="bottom"><h:outputLabel id="username">#{updateNormalUser.normalUser.username}</h:outputLabel>
						</td>
					</tr>
					<tr>
						<td width="150" valign="top">Role Type:</td>

						<td valign="bottom"><h:outputLabel id="roleType">#{updateNormalUser.normalUser.roleType}</h:outputLabel>
						</td>
					</tr>
					<tr>
						<td width="100" valign="top">Date of Birth:</td>
						<td valign="bottom"><h:outputText id="dob" value="#{updateNormalUser.normalUser.dob}">
								<f:convertDateTime pattern="yyyy-MM-dd" type="date" />
							</h:outputText></td>
					</tr>
					<tr>
						<td width="184" valign="top">Salary:</td>

						<td valign="bottom"><h:outputLabel id="salary">#{updateNormalUser.normalUser.salary}</h:outputLabel>
						</td>
					</tr>
				</table>
				<h:link id="close" value="Close" outcome="/admin/normalUser.xhtml" class="btn btn-primary" style="margin-right:20px;margin-top: 20px;" />
			</h:form>
		</div>
	</div>
	<section class="section-7">
		<!-- Footer -->
		<footer class="page-footer font-small stylish-color-dark">
			<!-- Copyright -->
			<div class="footer-copyright text-center">
				<div class="gradient"></div>
				<p>© 2020,&#160;&#160;FIT5042-Assignment,&#160;&#160;designed by Rock Liu</p>
			</div>
			<!-- Copyright -->

		</footer>
		<!-- Footer -->
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript"
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<h:outputScript library="js" name="animate.js" />
	<h:outputScript library="js" name="custom.js" />
</body>
</html>